<nav class="navbar sticky-top navbar-light bg-light">
  <a class="navbar-brand" href="/">Whole House Project</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link " href="/add">Add Items</a>
    </li>
  </ul>
  <span class="navbar-text mr-4">
      {{user}}'s house
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {{#if search}}
    <form class="search-form my-2">
        <div class="form-group">
          <label for="searchbox-input">Search</label>
          <input type="text" class="form-control" placeholder="Search Objects..." id="searchbox-input">
        </div>
        <div class="form-group">
          <label for="tagSelect">Tags</label>
          <div class="form-control btnCheckbox" style="height:auto;  min-height: 36px;" id="tagSelect">
            {{#if tags}}
              {{#each tags}}
                <label class="btn btn-outline-primary m-1">
                  <input type="checkbox" style="display:none;" name="{{this}}">
                  <span class="form-check-label">{{this}}</span>
                </label>
              {{/each}}
            {{else}}
            <span class="text-muted">No tags are available</span>
            {{/if}}
          </div>
        </div>
      </div>
    </form>
    {{/if}}
  </div>
</nav>
<script>
var collectionFilter = [],
    tagFilter = [];

$("#collectionSelect").find("input").change(function() {
    if(this.checked) {
      collectionFilter.push(this.name);
      $(this).closest('label').addClass('btn-primary').removeClass('btn-outline-primary');
    } else {
      _.pull(collectionFilter, this.name);
      $(this).closest('label').addClass('btn-outline-primary').removeClass('btn-primary');
    }
});

$("#tagSelect").find("input").change(function() {
    if(this.checked) {
      tagFilter.push(this.name);
      $(this).closest('label').addClass('btn-primary').removeClass('btn-outline-primary');
    } else {
      _.pull(tagFilter, this.name);
      $(this).closest('label').addClass('btn-outline-primary').removeClass('btn-primary');
    }
});
</script>
