<form class="col-12"  id="myForm"  enctype="multipart/form-data">

  <div class="form-group">
    <label for="title">Object Name</label>
    <input type="text" class="form-control" name="title" id="title" placeholder="Enter object title" required>
  </div>

  <div class="form-group">
    <label for="description">Object Description</label>
    <textarea type="text" rows="3" class="form-control" name="description" id="description" placeholder="Enter object description" required style="resize:none;"></textarea>
  </div>

  <div class="form-group">
    <label for="dateacquired">Date acquired</label>
    <input type="month" class="form-control" name="dateAcquired" id="dateacquired">
  </div>

  <div class="form-group">
    <label>Object Tags</label>
    <input class="tagsinput" type="text" name="tags" value="" data-role="tagsinput"/>
  </div>

  <div class="form-group">
    <label for="quantity">Date acquired</label>
    <input type="number" class="form-control" name="quantity" id="quantity" value="1">
  </div>

  <div class="form-group">
    <label>Add Files</label><br/>
    <button type="button" onclick="$('#imgupload').trigger('click');" class="btn btn-outline-primary">Browse&hellip;</button>
    <div class="file-names small"></div>

    <input type="file" name="photos" id="imgupload" style="display: none;" multiple>
  </div>

  <div class="form-group">
    <button type="button" onclick="SubForm(true)" class="btn btn-outline-secondary">Submit and Enter New</button>
    <button type="button" onclick="SubForm(false)" class="btn btn-outline-success">Submit</button>
  </div>

  <div class="alert alert-success" role="alert" id="successAlert" style="display: None; opacity:0;">
    Object added to database successfully
  </div>

</form>

<script>
function SubForm (formReset){
    var form = document.getElementById('myForm');
    var formData = new FormData(form);

    $.ajax({
        url: '/submit',
        type: 'POST',
        data: formData,
        enctype: 'multipart/form-data',
        success: function (res) {
            console.log("Form Submited");
            if(formReset){
              tags.add(res.tags)
              form.reset();
              $('.tagsinput').tagsinput('removeAll');

              $("#successAlert").show().fadeTo(200,1);
              window.setTimeout(function() {
                  $("#successAlert").fadeTo(200, 0, function(){
                      $(this).hide();
                  });
              }, 2000);

            } else {
              window.location.href = "/view?itemID="+res.id;
            }
        },
        cache: false,
        contentType: false,
        processData: false
    });
}

$(document).on('change', ':file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
});

$(document).ready( function() {
    $(':file').on('fileselect', function(event, numFiles, label) {
        console.log(numFiles);
        console.log(label);
        var input = $(this).parents('.form-group').find('.file-names'),
              log = numFiles > 1 ? numFiles + ' files selected' : label;

          if( input.length ) {
              input.html(log);
          } else {
              if( log ) alert(log);
          }
    });
});

var tags = new Bloodhound({
  local: {{{tags}}},
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
});

$('.tagsinput').tagsinput({
  typeaheadjs: {
    name: "Tags",
    source: tags.ttAdapter()
  }
});

// $('#OpenImgUpload').click(function(){ $('#imgupload').trigger('click'); });
</script>
