
<div class="col-3">
  <h2>{{item.title}}</h2>
  <p>{{item.description}}</p>
  <p><strong>Date acquired: </strong>{{item.dateAcquired}}</p>


  <button type="button" class="btn btn-outline-secondary">Update</button>
</div>

<div class="col-9">
  <img src="{{item.imagePath}}" class="img-fluid" alt="Photo">
</div>
