
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btnCheckbox > .btn-outline-primary:hover {
  color: #0069d9;
  border-color: #0069d9;
  background-color: transparent;
}
.btnCheckbox > .btn-primary:hover {
  /* background-color: #007bff; */
  /* border-color: #007bff; */
}

@media (hover: none) {
  .btnCheckbox > .btn-outline-primary:hover {
    color: #007bff;
    background-color: transparent;
  }
  .btnCheckbox > .btn-primary:hover {
    background-color: #007bff;
    border-color: #007bff;
  }
}
